body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  flex-wrap: wrap;
}

#root {
  background-color: black;
  padding-top: 4%;
}
.in{
  margin: 10px solid;
}
h1 {
  text-align: center;
  color: yellow;
  background-color: #4c4c4c;
  margin: 100px;
}

h2{
  text-align: center;
  color: yellow;
  background-color: #4c4c4c;
  margin: 100px;
}
.cards{
  margin-top: 50px;
  background-color: green;
  text-align: center;
}
.inp{
  margin: 10px solid;
}

.inputs{
  margin: 20px;
  text-align: center;
  
}

.footer {
  
  color: white;
  text-align: center;
  background-color: green;
  align-self: flex-end;
  margin-top: 300px;
}
